<div class="col8">

<p id="notice"><%= notice %></p>

<p>
  <h2><%= @product.name %></h2>
</p>


<p>
  <img id="show" src="<%= @result['images'][0]['link'] %>" />
</p>

<p>
  <%= @result['description'] %>
</p>

<p>
  <a href="<%= @result['link'] %>"><b>Buy Now!</b></a>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>


  <%= render 'addcart' %>



</p>

<p>
  <b>Reviews:</b>
  <ol>
  <% @product.reviews.each do |review| %>
  <li> <%=  '*' * review.rating %> 
    <p> <%= review.body %> 
  <% end %>
  </ol>
</p>


<a href="../reviews/new?product_id=<%= @product_id %>"> New Review </a>

<br/>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>

  <%= render 'cart' %>
