

<p id="notice"><%= notice %></p>

<p>
  <h2><%= @product.name %></h2>
</p>


<p>
  <img id="show" class="col4" src="<%= @result['images'][0]['link'] %>" />
</p>

<p class="col5">
  <%= @result['description'] %>
</p>

<div class="col12">
<p>
  <a href="<%= @result['link'] %>"><h3>Buy Now!</h3></a>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %> <%= render 'addcart' %>
</p>
</div>

<div class="col12">
<p>
  <b>Reviews:</b>
  <ol>
  <% @product.reviews.each do |review| %>
  <li> <%=  '*' * review.rating %> 
    <p> <%= review.body %> 
  <% end %>
  </ol>
</p>


<a href="../reviews/new?product_id=<%= @product_id %>"><h3> New Review </h3></a>

<br/>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>

  <%= render 'cart' %>
